.tab {
  display: flex;
}

.filters {}

.tasks {
  border-width: 1px;
  border-style: solid;

  flex-grow: 1;

  box-sizing: border-box;
  max-height: 100%;
  height: fit-content;
  overflow-y: auto;
}
