.step {
  display: grid;
  grid-template-columns: auto 1fr;
  /* The third row is unused by components. It exists to auto-fill the
   * plan section when the plan is collapsed/empty (e.g. new plans). */
  grid-template-rows: auto auto 1fr;

  border: solid rgba(255, 255, 255, 0.3);
  border-width: 1px 0 0 0;
  padding: 0.3rem 0rem 0.3rem 0.3rem;
}

.subStepsToggle {
  display: grid;
  grid-template-rows: subgrid;

  grid-column: 1;
  grid-row: 1 / 3;

  border: none;
  color: white;
  background: none;
}

.sideBar {
  grid-row: 2;

  height: 100%;
  width: 2px;
  justify-self: center;
  background-color: rgba(255, 255, 255, 0.6);
}

.description {
  grid-column: 2;
  grid-row: 1;

  padding-left: 0.1rem;

  color: white;
}

.subSteps {
  grid-column: 2;
  grid-row: 2;
}

.subStepList {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.subStep {}
