.description {
  display: contents;
}

.paragraph {
  display: inline;
  white-space: pre-wrap;
  color: white;

  font-size: 1rem;
}

.editingToggle {
  composes: button from "button.module.css";
  width: 1.4rem;
}
