.pane {
  position: relative;
  width: 60px;
  height: 30px;
}

.icon {
  position: absolute;
  top: 10%;
  left: 8%;

  width: 40%;
}

.locked {
  opacity: 0.15;
}

.background {
  width: 100%;
}

.level {
  composes: osrs-font from "../../fonts.module.css";

  position: absolute;

  text-align: center;
  font-size: 16px;
  color: yellow;
  text-shadow: 1px 1px black;
}

.numerator {
  composes: level;

  top: 13%;
  right: 27%;
  left: 52%;
}

.denominator {
  composes: level;

  top: 51%;
  right: 10%;
  left: 73%;
}

.total {
  composes: level;

  top: 20%;
  left: 5%;
}

.xp {
  text-align: right;
}
