@font-face {
  /* Obtained from https://github.com/RuneStar/fonts */
  font-family: osrs-font;
  src: url('../fonts/osrs.ttf') format('truetype');
}

.osrs-font {
  font-family: osrs-font;
}

.common-font {
  font-family: sans-serif;
}
