.radio {
  appearance: none;
  margin: 0;
  position: fixed;
}

.option {
  display: flex;
  align-items: center;
  padding: 0 0.25rem;

  transition: background-color 175ms ease-out;
}

.radio:focus + .option {
  border-style: outset;
  border-radius: 0.3rem;
  border-color: #c0f0c5;
}

.alternative {
  composes: option;
}

.alternative:hover {
  background-color: #dfe7f5;
}

.selection {
  composes: option;
  background-color: #c0f0c5;
}
