.depository {
  display: grid;
  grid-auto-rows: 36px;

  column-gap: 2px;

  width: fit-content;
  max-height: 255px;
  overflow-y: auto;

  border: solid;
  border-radius: 5px;
  margin: 0;
  padding: 7px 10px;

  background-color: #494034;
  list-style-type: none;
}
