.form {
  width: 33rem;

  display: grid;
  grid-template-columns: auto auto;
}

.title {
  grid-column: 1 / 3;
  grid-row: 1;
  justify-self: center;
}

.input {
  grid-column: 1 / 3;
  grid-row: 3;
  width: calc(33rem - 8px);
  margin-bottom: 2rem;

  padding: 0.2rem;
  font-size: 1rem;
}

.label {
  grid-column: 1 / 3;
  grid-row: 2;
  margin-bottom: 0.2rem;

  display: block;

  font-size: 1.2rem;
}

.explainer {
  grid-column: 1;
  grid-row: 4;

  font-size: 0.8rem;
  color: #515151;
}

.submit {
  grid-row: 4;
  grid-column: 2;
  margin-left: 1rem;
  align-self: center;
}
