.form {
  width: 33rem;

  display: grid;
  grid-template-columns: auto auto;
  padding: 1rem;

  background-color: #f7ffff;
}

.title {
  grid-column: 1 / 3;
  grid-row: 1;
  justify-self: center;
  margin-bottom: 1rem;

  font-size: 1.6rem;
}

.input {
  grid-column: 1 / 3;
  grid-row: 3;
  width: calc(33rem - 8px);
  margin-bottom: 2rem;

  padding: 0.2rem;
  font-size: 1rem;
}

.label {
  grid-column: 1 / 3;
  grid-row: 2;
  margin-bottom: 0.2rem;

  display: block;

  font-size: 1.2rem;
}

.explainer {
  grid-column: 1;
  grid-row: 4;

  font-size: 0.8rem;
  color: #515151;
}

.submit {
  grid-row: 4;
  grid-column: 2;
  margin-left: 1rem;
  width: auto;
  height: fit-content;
  align-self: center;

  border: solid 2px #4f4f4f;
  border-radius: 1rem;
  padding: 0.5rem 1rem;

  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 1rem;
}

.submit:disabled {
  background-color: #ababab;
}

.submit:enabled {
  background-color: #41c526;
}

.submit:enabled:hover, .submit:enabled:focus-visible {
  background-color: #48f325;
}

.submit:enabled:active {
  background-color: #26d503;
}

.submit:enabled:focus-visible {
  outline-style: dashed;
  outline-width: 2px;
  outline-offset: 1px;
  outline-color: rgba(0, 0, 0, 0.7);
}
