.plan {
  /* Theoretically we could use a flexbox here, since we only have a single column
   * However, for reasons unknown, using a flexbox kills the performance of the
   * plan section. Dragging steps and collapsing substeps are terribly laggy when
   * we use a flexbox here instead of a single-column grid.
   */
  display: grid;
  grid-template-rows: auto 1fr;
  isolation: isolate;

  background-color: #00172e;
}

.header {
  position: relative;
  grid-row: 1;
  z-index: 1;

  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.steps {
  position: relative;
  grid-row: 2;
  z-index: 0;

  overflow-y: auto;
  scroll-behavior: smooth;
  scrollbar-color: #89a0b7 #000000;
}
