.section {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  min-width: min-content;
}

.header {
  display: flex;
  min-width: fit-content;
}

.list {
  overflow: auto;
}

.text {
  color: white;
  align-self: center;
  padding: 0.5rem 0.375rem 0.5rem 0.375rem;
}

.button {
  composes: button from "../../common/styledButton.module.css";

  display: flex;
  flex-wrap: wrap;
  flex-grow: 0;
  align-content: center;
  padding: 0.5rem;
  font-size: 1rem;
}

.addIcon {
  composes: button;
  padding-right: 0;
}

.deleteIcon {
  composes: button;
  float: right;
}

.item {
  display: flex;

  border: solid rgba(255, 253, 214, 0.5);
  border-width: 0.05rem 0 0 0;
}

.item:hover {
  background-color: #082a4c;
}

.itemDescription {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-grow: 1;
  padding: 0.25rem 0;
}
