.header {
  font-size: 1.3rem;
}

.description {
  margin: 0.5rem 0 0.5rem 0;
}

.buttons {
  display: flex;
  justify-content: end;
}

.button {
  cursor: pointer;
  border-style: solid;
  border-color: #0000005e;
  border-width: 2px;
  border-radius: 0.5rem;

  padding: 0.5rem;
}

.cancel {
  font-size: 1rem;
}

.cancel:hover, .cancel:focus {
  background-color: #f5ffea;
}

.cancel:active {
  background-color: #c9d7b9;
}

.confirm {
  margin-left: 0.8rem;

  background-color: #bb0404;
  color: white;
  font-size: 1rem;
}

.confirm:hover, .confirm:focus {
  background-color: #cd1818;
}

.confirm:active {
  background-color: #9d1616;
}
