.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: max-content;
}

.row {
  border-style: solid;
  border-color: white;
  border-width: 2px;
  border-radius: 1rem;

  margin: 1rem;

  display: flex;
  overflow: hidden;
}

.row:hover {
  box-shadow: 0 0 0.5rem white;
}

.descriptor {
  width: 20rem;
  display: inline-block;

  padding: 0.1rem 0 0.1rem 0;
  vertical-align: middle;
}

.button {
  cursor: pointer;
  border: none;
  color: white;
  background: none;

  font-size: 1.2rem;
  padding: 0.5rem;
}

.downloadButton {}

.downloadButton:hover, .downloadButton:focus {
  background-color: #0e2437;
}

.downloadButton:active {
  background-color: #000000;
}

.deleteButton {
  border-right-style: solid;
  border-width: 1px;

  margin-right: 0.5rem;
}

.deleteButton:hover, .deleteButton:focus {
  background-color: #cd0404;
}

.deleteButton:active {
  background-color: #850000;
}

.loadButton {
  width: 5rem;
  border-left-style: solid;
  border-width: 1px;
  background-color: #6f6f6f;

  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.loadButton:hover, .loadButton:focus {
  background-color: #98d744;
}

.loadButton:active {
  background-color: #6fa725;
}
