.stackSize {
  composes: osrs-font from "../../fonts.module.css";
}

.under100K {
  composes: stackSize;
  color: yellow;
}

.under10M {
  composes: stackSize;
  color: white;
}

.over10M {
  composes: stackSize;
  color: #00ff80;
}
