.panel {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

.header {
  align-self: center;
}

.filter {
  margin: 0.125rem 0;
}

.quests {
  flex-grow: 1;

  border: solid;
  border-radius: 0.3rem;
  padding: 0.25rem;
  margin: 0.25rem 0;

  overflow: auto;
  scrollbar-color: #61553e #252019;
}

.footer {
  color: orange;
}

.category {
  padding-left: 0.4rem;
  margin: 0;

  list-style-type: none;
}

.categoryHeader {
  margin: 0.25rem 0;
}

.quest {
  margin-bottom: 0.1rem;
  text-shadow: 1px 1px black;
}

.quest:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.icon {
  scale: 0.8;
  vertical-align: bottom;
}
