.form {
}

.title {
  justify-self: center;
}

.inputs {
  justify-self: center;
  width: fit-content;
  display: grid;
}

.tooltip {
  width: max-content;
  text-align: center;
}

.radios {
  justify-self: center;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  width: 24rem;
  height: 24rem;
  border: 1px solid;

  background-color: white;
  overflow: auto;
}

.inputMargin {
  margin: 0.125rem 0.25rem;
}

.quantityLabel {
  composes: inputMargin;

  grid-row: 3;
  grid-column: 1;

  justify-self: end;
}

.quantityInput {
  composes: inputMargin;

  grid-row: 3;
  grid-column: 2;
}

.itemLabel {
  composes: inputMargin;

  grid-row: 1;
  grid-column: 1 / 3;
}

.itemInput {
  composes: inputMargin;

  grid-row: 2;
  grid-column: 1 / 3;
}

.infoIcon {
  margin: 0 0.25rem;
}

.noteLabel {
  composes: inputMargin;

  grid-row: 4;
  grid-column: 1;

  justify-self: end;
}

.noteInput {
  composes: inputMargin;

  grid-row: 4;
  grid-column: 2;
  justify-self: start;

  min-width: 1rem;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

.button {
  width: 10rem;
  justify-self: center;
}

.cancel {
  composes: button;
}

.confirm {
  composes: button;
}
