/* The banner's row collapses when there's no banner */
.page {
  display: grid;
  grid-template-columns: 65fr 35fr;
  grid-template-rows: auto minmax(0, 1fr);
  grid-template-areas:
    "banner banner"
    "lhs    plan";
}

.banner {
  grid-area: banner;
}

.lhs {
  grid-area: lhs;

  display: flex;
  flex-direction: column;
  overflow-x: auto;
}

.state {
  flex-grow: 1;
  flex-shrink: 1;

  overflow: auto;
}

.editor {
  flex-grow: 0;
  flex-shrink: 0;
  height: 33%;

  overflow: auto;
}

.editorFallback {
  composes: editor;

  align-content: center;
  text-align: center;
  padding: 0 2rem;

  background-color: var(--bg-base);
  color: white;
  font-size: 1.4rem;
  text-wrap-style: balance;
}

.editorFallback>p {
  margin-bottom: 1rem;
}

.plan {
  grid-area: plan;
}
