.footer {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  grid-column-gap: 0.5rem;
  align-items: center;

  color: #aaa;
  background-color: var(--bg-base);
}

.attributions {
  padding: 0.2rem;
}

.attribution {
  font-size: 0.65rem;

  + .attribution {
    margin-top: 0.2rem;
  }
}

.attributionLink {
  color: #d7e7f5;
}

.feedback {
  font-size: 0.8rem;
  font-weight: bold;
  text-wrap-mode: nowrap;
}

.discordIcon {
  margin-right: 0.1rem;
  vertical-align: middle;
}

.handle {}

.donationLink {
  margin-left: 0.4rem;
  vertical-align: baseline;
  color: #aaa;

  &:hover {
    color: #d7e7f5;
  }
}

.donationIcon {}

.donationTooltip {
  width: 7.9rem;
  font-size: 0.8rem;
  text-align: center;
}

.statuses {
  justify-self: end;
  margin-right: 1.3rem;
}

.status {
  margin: 0px 0.5rem;
  display: inline-block;
  font-size: 0.9rem;
}
