.hidden {
  visibility: hidden;
  opacity: 0;
}

.visible {
  border: 1px solid;
  padding: 4px;
  border-radius: 10px;

  position: fixed;
  z-index: 1;

  background-color: white;
  visibility: visible;
  opacity: 1;
  transition: opacity 250ms ease-in;
}
