.tooltipContainer {
  filter: drop-shadow(0 0 2px black);
}

.hasTooltip {}

.tooltip {
  padding: 0.4rem;
  border-radius: 0.5rem;

  background-color: #ededed;
  color: black;
  font-size: 0.9rem;
}

/* This is a trick which creates a small region around the tooltip where
 * the mouse is still considered to be hovering over the tooltip, despite
 * visually being outside it's borders.
 */
.tooltip::before {
  position: absolute;
  inset: -0.2rem;
  content: "";
}
