.tooltipContainer {}

.hasTooltip {}

.tooltip {
  padding: 0.4rem;
  border-radius: 0.5rem;

  background: #222;
  color: white;
  font-size: 0.8rem;
}

/* This is a trick which creates a small region around the tooltip where
 * the mouse is still considered to be hovering over the tooltip, despite
 * visually being outside it's borders.
 */
.tooltip::before {
  position: absolute;
  inset: -0.7rem;
  content: "";
}
