.hasTooltip {}

.tooltip {
  padding: 0.5rem;
  border-radius: 0.75rem;

  position: fixed;
  /* Should be a larger index than anything else in the project */
  z-index: 2;

  background-color: black;
  color: white;
  opacity: 0.9;
  font-size: 0.9rem;
}
