.tab {
  border-radius: 0.8rem;
  transition: background-color 175ms ease-out;
}

.selected {
  background-color: #99d321;
}

.notSelected {}

.notSelected:hover {
  background-color: #6eada6;
}

.label {
  cursor: pointer;
}

.icon {
  display: block;
  padding: 0.6rem;
}

.radio {
  display: none;
}
