.slot {
  isolation: isolate;
  width: 36px;
  height: 36px;
}

.background {
  z-index: 0;
  position: absolute;
  display: block;
}

.contents {
  position: relative;
  z-index: 1;
  height: 100%;
  justify-self: center;
  align-content: center;
}

.warningIcon {
  height: 20px;
  color: orange;
}

.warningTooltip {
  width: max-content;
  max-width: 16rem;
  text-align: center;
}
