.focused {
  background-color: #3d2c00;
  transition: background-color 125ms ease-out;
}

.incomplete {
  background-color: var(--bg-base);
}

.hoveredIncomplete {
  background-color: #162236;
}

.errors {
  background-color: #5b0000;
  transition: background-color 125ms ease-out;
}

.hoveredErrors {
  background-color: #830000;
}

.complete {
  background-color: #1b4302;
  transition: background-color 125ms ease-out;
}

.hoveredComplete {
  background-color: #2b6904;
}
