.dropTarget {
  position: absolute;
  width: 100%;
  height: 100%;
  /* Required to prevent the box-shadows from being hidden by neighbouring elements */
  z-index: 1;

  pointer-events: none;
}

.dropBefore {
  composes: dropTarget;

  box-shadow: 0 -2px yellow;
}

.dropInto {
  composes: dropTarget;

  box-shadow:
    0 -2px yellow,
    -1px 0 yellow, 1px 0 yellow inset,
    0 1px yellow, 0 -1px yellow inset;
}

.dropAfter {
  composes: dropTarget;

  box-shadow: 0 1px yellow, 0 -1px yellow inset;
}
