.header {}

.substepsToggleIcon {
  color: white;
}

.substepsToggle {
  border: none;
  background: none;
}

.title {
  display: flex;
}

.dragIcon {
  align-self: center;
  padding: 0.3rem;
}

.description {
  flex-grow: 1;
  padding: 0.3rem 0 0.3rem 0.3rem;
}

.dragIcon + .description {
  padding-left: 0;
}
