.step {
  composes: incomplete from "background.module.css";

  position: relative;

  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto 1fr;

  border-style: solid;
  border-width: 1px 0 0 0;
  border-top-color: rgba(255, 255, 255, 0.3);
}

.header {
  grid-column: 1 / 3;
  grid-row: 1;
  position: sticky;
  z-index: 1;

  display: grid;
  grid-template-columns: subgrid;

  color: white;
  background-color: inherit;
}

.description {
  padding: 0.3rem;
}

.substepsToggleIcon {
  color: white;
}

.substepsToggle {
  border: none;
  background: none;
}

.substepsSidebar {
  grid-row: 2;

  height: calc(100% - 0.65rem);
  width: 1px;
  justify-self: center;
  background-color: rgba(255, 255, 255, 0.3);
}

.substeps {
  grid-column: 2;
  grid-row: 2;
  z-index: 0;
}

.substepList {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.substep {}
