.step {
  position: relative;

  display: grid;
  grid-template-columns: auto 1fr;
  /* The third row is unused by components. It exists to auto-fill the
   * plan section when the plan is collapsed/empty (e.g. new plans). */
  grid-template-rows: auto auto 1fr;

  border-style: solid;
  border-width: 1px 0 0 0;
  border-top-color: rgba(255, 255, 255, 0.3);

  content-visibility: auto;
}

.step[draggable="true"] {
  cursor: move;
}

.step:focus-visible {
  outline: none;
}

.header {
  grid-column: 1 / 3;
  grid-row: 1;

  display: grid;
  grid-template-columns: subgrid;

  color: white;
  background-color: inherit;
  transition: inherit;
}

.headerWhileNotDragging {
  composes: header;

  position: sticky;
  z-index: 1;
}

.headerWhileDragging {
  composes: header;
}

.substepsSidebar {
  grid-row: 2;

  height: calc(100% - 0.65rem);
  width: 1px;
  justify-self: center;
  background-color: rgba(255, 255, 255, 0.3);
}

.substeps {
  grid-column: 2;
  grid-row: 2;
}

.substepsWhileNotDragging {
  composes: substeps;

  z-index: 0;
}

.substepsWhileDragging {
  composes: substeps;
}

.substepList {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.substep {}
