@font-face {
  /* Obtained from https://github.com/RuneStar/fonts */
  font-family: osrs-font;
  src: url('fonts/osrs.ttf') format('truetype');
}

body {
  font-family: osrs-font;
}

p {
  margin: 0px;
}

.plan {
  display: flex;
}

.plan ol {
  padding-inline-start: 0px;
  list-style-type: none;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.editing-tools {
  width: 245px;
}

.step {
  color: white;
  border: 1px solid rgba(255, 253, 214, 0.5);
  border-radius: 3px;
  margin-top: 3px;
  display: flex;
}

.step.light {
  background-color: #3d4b59;
}

.step.dark {
  background-color: #2f363d;
}

.step.focused {
  background-color: #595604;
}

.step .content {
  padding: 5px;
  flex-grow: 1;
}

.step .toggle-button {
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  padding: 0px;
  width: 15px;
  display: flex;
}

.step .toggle-button:hover {
  background-color: #323a42;
}

.step .toggle-button:active {
  background-color: #4f5a66;
}

.step .visibility-icon {
  color: white;
  width: 100%;
}

.stat-window {
  border-spacing: 0px;
  border: solid;
  border-radius: 5px;
  height: fit-content;
}

.stat-window-cell {
  position: relative;
  padding: 0px;
}

.stat {
  width: 60px;
  height: 30px; /* 50% width */
}

.stat-background {
  width: 100%;
}

.stat .skill-icon {
  position: absolute;
  width: 40%;
  top: 10%;
  left: 8%;
}

.skill-icon.locked {
  opacity: 0.15;
}

.context-menu {
  position: absolute;
  z-index: 1;
  background-color: #fcf8ed;
  padding: 2px;
}

.modal::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.tooltip {
  visibility: hidden;
  position: absolute;
  top: 75%;
  z-index: 1;
  background-color: #e8e895;
  padding: 2px;
  transition: 0s visibility;
}

.tooltip p {
  color: black;
}

.element-with-tooltip {
  position: relative;
}

.element-with-tooltip:hover .tooltip {
  visibility: visible;
  transition-delay: 250ms;
}

.dual-column-list {
  white-space: nowrap;
  height: fit-content;
}

.dual-column-list.left {
  text-align: left;
}

.dual-column-list.right {
  text-align: right;
}

.stat-text {
  position: absolute;
  color: yellow;
  text-shadow: 1px 1px black;
  font-size: 14px;
}

.stat-text.numerator {
  top: 15%;
  right: 28%;
  text-align: right;
}

.stat-text.denominator {
  top: 55%;
  right: 8%;
  text-align: right;
}

.stat-text.total-level {
  top: 21%;
  text-align: center;
  line-height: 75%;
}

.depository {
  border-spacing: 0px;
  border: solid;
  border-radius: 5px;
  height: fit-content;
  background-color: #494034;
}

.depository-cell {
  height: 36px;
  width: 36px;
  padding: 0px;
  position: relative;
}

.item-quantity {
  position: absolute;
  top: 0px;
}

.console {
  background-color: black;
}

.console-warning {
  background-color: #e8e895;
  padding: 10px;
}

.console-warning p {
  font-size: 20px;
}

.console dl {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.console dt {
  font-size: 18px;
}

.console dd {
  font-size: 16px;
  margin-inline-start: 20px;
}

.console-section {
  padding: 10px;
  color: white;
}

.console-section.error {
  background-color: #3b0b08;
}

.fuse-item-search ol {
  list-style-type: none;
  padding-inline-start: 0px;
}

li.fuse-item-search-result:first-child {
  border: 1px solid;
}

li.fuse-item-search-result {
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
}

li.fuse-item-search-result.selected {
  background-color: #c0f0c5;
}

li.fuse-item-search-result:hover {
  background-color: #dfe7f5;
}

.fuse-item-search-result .item {
  display: flex;
  align-items: center;
}
