@font-face {
  /* Obtained from https://github.com/RuneStar/fonts */
  font-family: osrs-font;
  src: url('font/osrs.ttf') format('truetype');
}

body {
  font-family: osrs-font;
}

p {
  color: white;
  margin: 0px;
}

.hidden {
  display: none;
}

/* TODO Consider removal */
.plan {}

.step-box {
  border: 1px solid rgba(255, 253, 214, 0.5);
  border-radius: 3px;
  display: flex;
  margin-top: 3px;
}

.step-box.light {
  background-color: #3d4b59;
}

.step-box.dark {
  background-color: #2f363d;
}

.step-content {
  padding: 5px;
  flex-grow: 1;
}

.step-visibility {
  background-color: rgba(255,255,255,0.2);
  border: none;
  padding: 0px;
  width: 15px;
  display: flex;
  flex-direction: column;
}

.step-visibility:hover {
  background-color: #323a42;
}

.step-visibility:active {
  background-color: #4f5a66;
}

.step-visibility-icon {
  color: white;
  width: 100%;
}

.stat-pane {
  border-spacing: 0px;
  border: solid;
  border-radius: 5px;
  height: fit-content;
}

.stat-pane-cell {
  position: relative;
  padding: 0px;
}

.stat {
  width: 60px;
  height: 30px; /* 50% width */
}

.stat-background {
  width: 100%;
}

.stat-icon {
  position: absolute;
  width: 40%;
  top: 10%;
  left: 8%;
}

.stat-tooltip {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  background-color: #e8e895;
  padding: 2px;
  white-space: nowrap;
}

.stat-tooltip-text p {
  color: black;
}

.stat-tooltip-text.left {
  text-align: left;
}

.stat-tooltip-text.right {
  text-align: right;
}

.stat:hover .stat-tooltip {
  visibility: visible;
}

.stat-text {
  position: absolute;
  color: yellow;
  width: 100%;
  height: 100%;
  text-shadow: 1px 1px black;
  font-size: 14px;
}

.stat-text.numerator {
  top: 15%;
  right: 28%;
  text-align: right;
}

.stat-text.denominator {
  top: 55%;
  right: 8%;
  text-align: right;
}

.stat-text.total-level {
  top: 21%;
  text-align: center;
  line-height: 75%;
}
