.tabContent {
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  grid-template-columns: auto min-content auto;
  justify-items: center;
}

.equipmentPanel {
  grid-row: 1;
  margin-bottom: 1rem;
}

.inventoryPanel {
  grid-row: 1 / 3;
}

.bankPanel {
  grid-row: 1 / 3;
}

.statsPanel {
  grid-row: 2;
}
