.searchResult {
  display: grid;
  column-gap: 3px;
  margin: 0.1rem 0;
  padding: 0.1rem;
}

.itemIcon {
  grid-column: 1;
  grid-row: 1 / 3;
  align-self: center;
}

.itemName {
  grid-column: 2;
  grid-row: 1;
}

.itemExamine {
  grid-column: 2;
  grid-row: 2;

  color: grey;
  font-size: 0.8rem;
  font-style: italic;
}
