.icon {
  height: 32px;
  width: 36px;

  align-content: center;
  text-align: center;
}

.rootIcon {
  position: relative;
}

.noteIcon {
  position: absolute;
  top: 0;
}

.item {
  vertical-align: bottom;
}

.noted {
  scale: 0.7;
}
